.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.lead {
  max-width: 362px;
}

.lead__title {
  font-weight: 400;
  font-size: clamp(36px, 4vw, 48px);
  margin: 0;
}

.text-yellow {
  font-weight: 900;
  background: linear-gradient(90deg, rgba(252, 176, 69, 1), rgba(255, 63, 120, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lead__subtitle {
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  width: 275px;
  letter-spacing: 0.7px;
}

.intro {
  width: 301px;
}

.intro__tittle {
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.08px;
  line-height: 22px;
  margin-right: 2px;
}

.intro__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.intro__item {
  max-width: 136px;
  text-align: right;
}

.intro__subtittle {
  letter-spacing: 0.05em;
  margin: 0;
  text-transform: uppercase;
}

.intro__text {
  margin: 0;
  line-height: 19px;
  letter-spacing: 0.6px;
  margin-top: 6px;
}

.intro__button {
  background-color: rgba(64, 119, 243, 1);
  color: rgba(228, 229, 234, 1);
  border: none;
  margin: 30px 0px 0px 37px;
  padding: 21px 36px;
}

@media screen and (min-width: 426px) {
  .content {
    flex-direction: row;
    margin-top: 85px;
    margin-bottom: 60px;
  }

  .lead__title {
    line-height: 58px;
  }

  .lead__subtitle {
    margin-top: 30px;
  }

  .intro__tittle {
    text-align: end;
  }

  .intro__subtittle {
    font-weight: 500;
    font-size: 18px;
  }

  .intro {
    margin-top: 15px;
  }

  .intro_text-yellow {
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .screen-small {
    display: none;
  }

  .intro__tittle {
    font-weight: 500;
  }
  
  .intro__list {
    margin: 41px 0 0;
    justify-content: space-between;
  }
  
  .intro__item {
    margin-bottom: 33px;
  }
}

@media screen and (min-width: 806px) {
  .screen-small {
    display: none;
  }
}

@media screen and (max-width: 805px) {
  .intro__text,
  .screen-large {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .content {
    flex-direction: column;
    background-image: url('../../image/bg.png');
    background-repeat: no-repeat;
    padding: 13vw 4.6vw 14vw 4.6vw;
  }

  .lead__title {
    line-height: 43.5px;
  }

  .lead__subtitle {
    margin-top: 15px;
  }

  .intro__tittle {
    text-align: start;
  }

  .intro {
    margin-top: 8.7vw;
  }

  .intro__list {
    margin: 19px 0 0;
    justify-content: flex-start;
  }

  .intro__item {
    margin-bottom: 15px;
    margin-right: 14px;
  }

  .intro_text-yellow {
    letter-spacing: -0.5px;
  }

  .intro__tittle  {
    font-weight: 400;
  }

  .intro__subtittle {
    position: relative;
    padding-left: 15px;
    font-weight: 400;
    font-size: 13px;
  }

  .intro__subtittle::before {
    content: '';
    position: absolute;
    background: linear-gradient(to right, rgba(252, 176, 69, 1), rgba(253, 29, 29, 1));
    width: 10px;
    top: 50%;
    left: 0;
    height: 1px;
  }

  .intro__button,
  .intro__text,
  .screen-large {
    display: none;
  }

  .intro__item_order-1 {
    order: 1;
    margin-right: 9px;
  }

  .intro__item_order-1 .intro__subtittle {
    letter-spacing: 0.08em;
  }

  .intro__item_order-2 {
    order: 2;
  }

  .intro__item_order-2 .intro__subtittle {
    letter-spacing: 0.08em;
  }

  .intro__item_order-3 {
    order: 3;
  }

  .intro__item_order-3 .intro__subtittle {
    letter-spacing: 0.13em;
  }

  .intro__item_order-4 {
    order: 4;
  }
}
